body,html,title,input,button,div,form,table,h1,h2,h3,h4,h5,h6,ul,li,a{ margin:0; padding:0;}
body{ margin:0; padding:0; font:14px Verdana,'Microsoft Yahei', Tahoma, sans-serif;}
form p { font-size:12px; font-style:italic; color:#666; line-height:20px; }
button { font:14px Verdana, Tahoma, sans-serif; font-weight:bold; }
.list{ margin:20px;}
table { border-collapse:collapse; border:1px solid #ddd; width:100%; margin:20px 0;}
th { background:#e6f5fb; color:#333; padding:0 10px; font-size:14px; height:40px; text-align:center;}
.list table tbody tr:hover{ background:#f4fcff;}
td { padding:0 10px; font-size:14px; height:40px; text-align:center;}
td a{ color:#29a8e1; text-decoration:underline;}
td a:hover { color:#0075b8 }
h1 { border-bottom:solid 1px #ccc; margin:0 0 10px 0; padding:30px 20px; border-top:10px solid #29a8e1; font-weight:normal; font-size:36px;}
.search_logo,.search_logo a{ font-size:30px; text-decoration:none; color:#29a8e1;}
.search_logo,.search_logo a:hover{ color:#29a8e1;}
h1 img { vertical-align:bottom; }
p,ul,h2,h3,h4 { line-height:160%;}
li { line-height:24px; padding-left:0px; }
li table { margin:0; }
a{ color:#29a8e1; text-decoration:underline;}
a:hover { color:#0075b8;}
.search{ height:20px; line-height:20px; padding:12px 0 12px 5px; border:solid 1px #29a8e1; width:520px; border-radius:5px 0 0 5px;}
.search_btn{ height:46px; line-height:46px; width:70px; text-align:center; background:#29a8e1; border:0; color:#fff; font-size:14px; border-radius:0 5px 5px 0; cursor:pointer;}
.search_btn:hover{ background:#2bb4f1;}
